<form action="/session" method="get">
	<input type="text" name="user[email]" placeholder="Email">
	<input type="text" name"user[password]" placeholder="Password">
	<input type="submit" value="Submit">
</form>