<div class="container">
  <% if @errors %>
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <form class="signup" action="/signup" method="post">
    Name<br>
    <input type="text" name="user[name]"/><br>
    <br>
    Email<br>
    <input type="text" name="user[email]"/><br>
    <br>
    Password<br>
    <input type="password" name="user[password]"/><br>
    <br>
    Confirmation<br>
    <input type="password" name="user[password_confirmation]"/><br>
    <br>
    <input type="submit" value="Create my account"/></br>
  </form>
</div>
