<div class="center-search-bar">
	<form class="search-form" role="search" action="/search" method="post">
		<input type="text" class="form-control" name="city" placeholder="Search by city">
		<input type="text" class="form-control" name="country" placeholder="Search by country">
		<button type="submit" class="btn-search">Search</button>
	</form>
</div>