

/* SEARCH CSS */
.search {
  /* background: rgba(0,0,0,0.6); */
  /* position: absolute; */
  /* bottom: 0; */
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.btn-search {
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
  /* float: left; */
  margin: 0 -1px 0 0;
  vertical-align: middle;
  width: 30%;
}
.search-form {
   width: 50%;
   /* padding-top: 0; */
   /* padding-bottom: 0; */
   /* margin-right: 0; */
   /* margin-left: 0; */
   /* border: 0; */
   -webkit-box-shadow: none;

   /* box-shadow: none; */
   display: inline-flex;
}

.search-results {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

.list-posts {
  padding-left: 0;
  margin-bottom: 20px;
  list-style: none;
}

.post {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

#post-content {
  display: none;
}

/*

/*.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
}*/
