
<div class="container">
	<% if @errors %>
	<p><% @errors.each do |msg| %></p>
	<li><%= msg %></li>
	<% end %>
	<% end %>

	<form action="/posts/<%= current_user.id %>/new" method="post">
		<div class="form-group">
			<br/><button type="submit" class="btn btn-default">Submit</button><br/>
			<br/><label for="title">Title</label>
			<input type="text" class="form-control" name="post[title]" placeholder="e.g A trip to Nepal">

			<br/><label for="location">Location</label>
			<input type="text" class="form-control" name="city" placeholder="Vinales">
			<br/><input type="text" class="form-control" name="country" placeholder="Cuba">

			<br/><label for="travel_date">Travel Date</label>
			<input type="text" class="form-control" name="post[travel_date]" value="<%= Date.today %>">

			<label for="content">Content</label>
			<textarea class="form-control" rows="10" name="post[content]" placeholder="how was your trip"></textarea>
		</div>
	</form>

</div>
