<form action="/posts/<%= current_user.id %>/new" method="post" id="post">
  <div class="form-group">
   <br/><button type="submit" class="btn btn-default">Submit</button><br/>
   <br/><label for="title">Title</label>
   <input type="text" class="form-control" name="post[title]" placeholder="e.g A trip to Nepal">

   <br/><label for="location">Location</label>
   <input type="text" class="form-control" name="pin[city]" placeholder="city">
   <br/><input type="text" class="form-control" name="pin[country]" placeholder="country">

   <br/><label for="travel_date">Travel</label>
   <input type="text" class="form-control" name="post[travel_date]" value="mm/dd/yy">
 </div>

</form>

<label for="content">Content</label>
<textarea class="form-control" id="post"rows="10" name="post[content]" placeholder="how was your trip"></textarea>


