<form class="search-form" role="search" action="/search" method="post">
	<input type="text" class="form-control" name="city" placeholder="Search by city">
	<button type="submit" class="btn-search">Search</button>
</form>
