
<!-- list all the posts about the same city or country -->
<div class="search">
	<%= erb :"_search", layout: false %>
</div>

<section class="search-results">
	<div class="city">
		<ul class="list-posts">
			<%= erb :"search/_result", layout: false %>
		</ul>
	</div>
</section>






