
<!-- list all the posts about the same city or country -->
<div class="search">
<%= erb :"_search", layout: false %>
</div>

<section class="search-results">
	<div class="error">
		<ul class="list-group">
			<% if @error %>
			<li><%= @error%></li>
			<% end %>
		</ul>
	</div>

	<div class="city">
		<ul class="list-group">
			<% if @seach_city %>
				<% @search_city.posts.each do |post| %>
				<li class="list-results">
					<a href="/profile/<%= post.user_id %>"><%= post.title %></a>
					<!-- <span class="vote_count">1</span> -->
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</section>






